<div class="why row"
{{ ext.ui.toolbar(node.uri, "section" , ["editContent", "editAttributes" , "deleteSection" ], {"uri": node.uri}) | raw }}
>
{% if PREVIEW_MODE %}
<div style="display: none;" {{ ext.ui.editMeta("datetime", "publish_date" , node.uri, node.uri) | raw }}></div>
<div style="display: none;" {{ ext.ui.editMeta("datetime", "unpublish_date" , node.uri, node.uri) | raw }}></div>
<div style="display: none;" {{ ext.ui.editMeta("text", "title" , node.uri, node.uri) | raw }}></div>
{% endif %}
	<div class="p-5 text-center">
		<div class="container py-5">
			<h1>{{ node.meta.getOrDefault("title", "--title here--") }}</h1>
			<div class="col-lg-8 mx-auto lead">
				{{ node.content | raw }}
			</div>
		</div>
	</div>
</div>