<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-body-secondary">© 2023 CondationCMS</span>
        </div>


        <ul class="nav justify-content-center ">
            {% set nodes = navigation.list("/about/") %}
            {% for node in nodes %}
            <li class="nav-item">
                <a href="{{ node.path }}" class="nav-link px-2 text-body-secondary">{{node.name}}</a>
            </li>
            {% endfor %}
        </ul>


        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-body-secondary" href="https://github.com/CondationCMS">
                    <i class="bi-github"></i>
                </a>
            </li>
        </ul>
    </footer>
</div>