{% extends "base.html" %}

{% block title %} {{ node.meta.title }} {% endblock %}

{% block content %}

<!-- Main Content -->
<main class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-12" {{ ext.ui.toolbar("main", "main", ["editContent", "editAttributes"]) | raw }}>

    <article>
        <header class="mb-8">
            <h1 class="text-4xl md:text-5xl font-bold text-gray-900 mb-4">
                    {{ node.meta.title }}
                </h1>
                
                <div class="flex flex-col sm:flex-row sm:items-center sm:gap-6 text-gray-600 py-6 border-t border-b border-gray-200">
                    <div class="flex flex-wrap gap-4 sm:gap-6 text-sm">
                        <span>{{ node.meta['publish_date'] | date('dd-MM-yyyy') }}</span>
                    </div>
                </div>
        </header>
        <!-- Article Content -->
        <div class="article-content prose prose-sm max-w-none mb-12">
            {{ content | raw }}

        </div>
    </article>
</main>

{% endblock %}