{% extends "base.html" %}

{% block title %} {{ node.meta.title }} {% endblock %}

{% block content %}

<div
{{ ext.ui.toolbar("content", "sections", ["addSection", "orderSections"], { "sectionName": "content"}) | raw }}
>
	{% if node.sections.containsKey('content') %}
		{% for content in node.sections.get('content') %}
			{{ content.content | raw }}
		{% endfor %}
	{% endif %}
</div>

<div
{{ ext.ui.toolbar("features", "sections", ["addSection", "orderSections"], { "sectionName": "features"}) | raw }}
>
	<section id="about" class="mb-12">
		<h2 class="text-3xl font-bold text-gray-900 mb-4">Features</h2>
		<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
			{% if node.sections.containsKey('features') %}
				{% for feature in node.sections.get('features') %}
					{{ feature.content | raw }}
				{% endfor %}
			{% endif %}
		</div>
	</section>
</div>


{% endblock %}