{% extends "base.html" %}

{% block title %} {{ meta.title }} {% endblock %}

{% block content %}

<div
{{ ui.toolbar("content", "sections", ["addSection", "orderSections"], { "sectionName": "content"}) | raw }}
>
	{% if sections.containsKey('content') %}
		{% for content in sections.get('content') %}
			{{ content.content | raw }}
		{% endfor %}
	{% endif %}
</div>


<div>
	{% assign roles = nodeList.from("/roles/*").list() %}
	{% for entry in roles.items %}
	<div class="entry card">
		<div class="card-body">
			<h4 class="card-title">{{ entry.name }}</h4>
			<h6>{{ entry.meta['publish_date'] | date('dd-MM-yyyy') }}</h6>
			<p class="card-text">{{ entry.content}}</p>
			<a href="{{ entry.path}}" class="btn btn-primary">read more</a>
		</div>
	</div>
	<hr />
	{% endfor %}
</div>

<div class="row row-cols-1 row-cols-md-3"
{{ ui.toolbar("features", "sections", ["addSection", "orderSections"], { "sectionName": "features"}) | raw }}
>
	{% if sections.containsKey('features') %}
		{% for feature in sections.get('features') %}
			{{ feature.content | raw }}
		{% endfor %}
	{% endif %}
</div>


{% endblock %}